.SignupInputInfo {
    color: #707073;
    margin-left: 5px;
    margin-right: auto;
    float: left;
}

#ObviousPasswordWarning {

    background-color: #ff101a;
    color: white;
    padding: 2px;
    margin-bottom: 7px;
    border-radius: 3px;
    width: 100%;
}

#SignupForm {
    background-color: transparent;
}

.FormField {
    margin: 15px auto;
    width: 95%;
}

.FormField > input {
    font-size: small;
    width: inherit;
    display: block;
    padding: 10px 5px;
}

.EntryFormFieldLabel {
    color: #222222;
    margin-bottom: 5px;
    float: left;
}

.EntryFormContainer {
    background-color: transparent;
    padding: 12px;
    border: solid gray 2px;
    border-radius: 5px;
    width: 100%;
}

.ActiveSubmit {
    color: #fff;
    cursor: pointer;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


#SignupButton {
    font-size: medium;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid gray;
}

#CaptchaContainer {
    margin-bottom: 10px;
}

#CaptchaContainer > div {
    margin: auto;
}

#successful-signup-message {
    color: rgb(36, 38, 43);
}

/* X-Small Screens */
@media (min-width: 480px) {

    .EntryFormContainer {
        width: 332px;
    }

}

/* Large Screens */
@media (min-width: 1200px) {

    .FormField {
        margin: 30px auto;
    }

}